
.vs/slnx.sqlite
.vs/sotc/FileContentIndex/7a2a6f10-7e80-4d58-91f3-d0e2c7a72f39.vsidx
.vs/sotc/FileContentIndex/e266cf16-23a5-4ad6-8797-d46961238ec2.vsidx
.vs/sotc/FileContentIndex/7a638829-aa5f-46c7-a257-6679d0d00252.vsidx
.vs/slnx.sqlite
.vs/slnx.sqlite
.vs/sotc/FileContentIndex/fddd7186-4f69-434f-bf40-2901d6891dec.vsidx
.vs/sotc/FileContentIndex/194f2349-e05d-4b4e-aa7f-5c8e19703279.vsidx
.vs/sotc/FileContentIndex/52216568-35ca-4c35-ae27-65bd6de2f0f7.vsidx
.vs/sotc/FileContentIndex/8ee7faa1-438f-4a34-a388-d64ec4f51d88.vsidx
*.vsidx
/.vs
.vs/slnx.sqlite
*.sqlite
/system
/app/.vscode
app/.vscode/extensions.json
/writable/debugbar
/writable/session
/writable/logs
/writable/session
/writable
/writable
/writable
